<div class="card-row">
  <div class="card-col">
    <nb-card size="medium">
      <nb-card-header>Medium card</nb-card-header>
      <nb-card-body>
        <img src="/https://www.w3schools.com/images/w3schools_green.jpg" alt="Image">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec euismod, nisl eget tincidunt tempor, nisi nunc
          interdum massa, eget aliquam urna nisl non nunc.
          Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" status="instant_order">Instant Order</button>
        <button nbButton size="small" status="wish_list">Wish List</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="medium">
      <nb-card-header>Medium card</nb-card-header>
      <nb-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec euismod, nisl eget tincidunt tempor, nisi nunc
          interdum massa, eget aliquam urna nisl non nunc.
          Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" status="instant_order">Instant Order</button>
        <button nbButton size="small" status="wish_list">Wish List</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="medium">
      <nb-card-header>Medium card</nb-card-header>
      <nb-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec euismod, nisl eget tincidunt tempor, nisi nunc
          interdum massa, eget aliquam urna nisl non nunc.
          Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" status="instant_order">Instant Order</button>
        <button nbButton size="small" status="wish_list">Wish List</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Small card</nb-card-header>
      <nb-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec euismod, nisl eget tincidunt tempor, nisi nunc
          interdum massa, eget aliquam urna nisl non nunc.
          Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" status="instant_order">Instant Order</button>
        <button nbButton size="small" status="wish_list">Wish List</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Small card</nb-card-header>
      <nb-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec euismod, nisl eget tincidunt tempor, nisi nunc
          interdum massa, eget aliquam urna nisl non nunc.
          Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </p>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton size="small" status="instant_order">Instant Order</button>
          <button nbButton size="small" status="wish_list">Wish List</button>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="small">
        <nb-card-header>Small card</nb-card-header>
        <nb-card-body>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec euismod, nisl eget tincidunt tempor, nisi nunc
            interdum massa, eget aliquam urna nisl non nunc.
            Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.
          </p>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton size="small" status="instant_order">Instant Order</button>
          <button nbButton size="small" status="wish_list">Wish List</button>
        </nb-card-footer>
      </nb-card>
  </div>
</div>

<div class="card-row">
<div class="card-col">
  <nb-card size="small">
    <nb-card-header>Small card</nb-card-header>
    <nb-card-body>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec euismod, nisl eget tincidunt tempor, nisi nunc
        interdum massa, eget aliquam urna nisl non nunc.
        Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas.
      </p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" status="instant_order">Instant Order</button>
        <button nbButton size="small" status="wish_list">Wish List</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Small card</nb-card-header>
      <nb-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec euismod, nisl eget tincidunt tempor, nisi nunc
          interdum massa, eget aliquam urna nisl non nunc.
          Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" status="instant_order">Instant Order</button>
        <button nbButton size="small" status="wish_list">Wish List</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Small card</nb-card-header>
      <nb-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec euismod, nisl eget tincidunt tempor, nisi nunc
          interdum massa, eget aliquam urna nisl non nunc.
          Pellentesque habitant morbi tristique senectus et netus et
          malesuada fames ac turpis egestas.
        </p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" status="instant_order">Instant Order</button>
        <button nbButton size="small" status="wish_list">Wish List</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>