<div class="card-row">
    <div class="card-col">
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
        <nb-card-body>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec euismod, nisl eget tincidunt tempor, nisi nunc
            interdum massa, eget aliquam urna nisl non nunc.
            Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.
          </p>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton status="instant_order">Instant Order</button>
          <button nbButton status="wish_list">Wish List</button>
        </nb-card-footer>
      </nb-card>
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium">
        <nb-card-header>Medium card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium">
        <nb-card-header>Medium card</nb-card-header>
      </nb-card>
    </div>
  </div>
  
  <div class="card-row">
    <div class="card-col">
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
      <nb-card size="small">
        <nb-card-header>Small card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="large">
        <nb-card-header>Large card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
      <nb-card size="small">
        <nb-card-header>Small card</nb-card-header>
      </nb-card>
    </div>
  </div>
  
  <div class="card-row">
    <div class="card-col">
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
      <nb-card size="medium">
        <nb-card-header>Medium card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="giant">
        <nb-card-header>Giant card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="giant">
        <nb-card-header>Giant card</nb-card-header>
      </nb-card>
    </div>
  </div>
  
  <div class="card-row">
    <div class="card-col">
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="giant">
        <nb-card-header>Giant card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
      <nb-card size="tiny">
        <nb-card-header>Tiny card</nb-card-header>
      </nb-card>
    </div>
  </div>
  
  <div class="card-row">
    <div class="card-col">
      <nb-card size="small">
        <nb-card-header>Small card</nb-card-header>
      </nb-card>
      <nb-card size="small">
        <nb-card-header>Small card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="giant">
        <nb-card-header>Giant card</nb-card-header>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="small">
        <nb-card-header>Small card</nb-card-header>
      </nb-card>
      <nb-card size="small">
        <nb-card-header>Small card</nb-card-header>
      </nb-card>
    </div>
  </div>