<section>
  <div class="spacer">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-9">
          <div class="row shop-listing">
            <table class="table shop-table" *ngIf="cart">
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th class="text-right">Total Price</th>
              </tr>
              <tr *ngFor="let item of cart.items">
                <td>{{ item.name }}</td>
                <td>{{ item.priceItem || 0}} €</td>
                <td>
                  <button class="btn btn-primary btn-sm" (click)="changeQuantity(item.id,-1)">-</button>
                  {{ item.quantity }}
                  <button class="btn btn-primary btn-sm" (click)="changeQuantity(item.id,1)">+</button>
                </td>
                <td class="text-right">
                  <h5 class="font-medium m-b-30">{{ item.priceTotal || 0}} €</h5>
                </td>
              </tr>
              <tr>
                <td colspan="3">Subtotal: {{ cart.subTotal || 0}} €</td>
                <td colspan="4">
                  <button class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
                </td>
                <td colspan="4">
                  <button class="btn btn-success" (click)="checkout()">Purchase Items</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
