<nb-card style="max-width: 95vw; max-height: 95vh">
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="Addresse">
        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container" style="display: flex; flex-direction: column;">
          <div style="width: 100%">
            <nb-card style="float: left; width: fit-content; width: 50%">
              <nb-card-header>Lieferaddresse</nb-card-header>
              <nb-card-body style="width: 100%">
                <div class="form-group">
                  <label for="land">Land</label>
                  <input nbInput fullWidth name="land" [value]="land" [disabled]="true" type="text" class="form-control" placeholder="Land">
                  <br>
                  <label for="plz">PLZ</label>
                  <input nbInput fullWidth name="plz" type="number" class="form-control" formControlName="plz" placeholder="13127">
                  <br>
                  <label for="ort">Ort</label>
                  <input nbInput fullWidth name="ort" type="text" class="form-control" formControlName="ort" placeholder="Ort">
                  <br>
                  <label for="strasse">Strasse</label>
                  <input nbInput fullWidth name="strasse" type="text" class="form-control" formControlName="strasse" placeholder="Strasse">
                  <br>
                  <label for="hausnummer">Hausnummer</label>
                  <input nbInput fullWidth name="hausnummer" type="text" class="form-control" formControlName="hausnummer" placeholder="Hausnummer">
                  <br>
                  <label for="zusatz">Addresszusatz</label>
                  <input nbInput fullWidth name="zusatz" type="text" class="form-control" formControlName="adresszusatz" placeholder="Addresszusatz">
                </div>
              </nb-card-body>

            </nb-card>
            <nb-card *ngIf="seperateRechnung" style="width: fit-content; width: 50%">
              <nb-card-header>Rechnungsaddresse</nb-card-header>
              <nb-card-body>
                <div class="form-group">
                  <label for="r_land">Land</label>
                  <input nbInput fullWidth name="r_land" [value]="land" [disabled]="true" type="text" class="form-control" placeholder="Land">
                  <br>
                  <label for="r_plz">PLZ</label>
                  <input nbInput fullWidth name="r_plz" type="number" class="form-control" formControlName="r_plz" placeholder="13127">
                  <br>
                  <label for="r_ort">Ort</label>
                  <input nbInput fullWidth name="r_ort" type="text" class="form-control" formControlName="r_ort" placeholder="Ort">
                  <br>
                  <label for="r_strasse">Strasse</label>
                  <input nbInput fullWidth name="r_strasse" type="text" class="form-control" formControlName="r_strasse" placeholder="Strasse">
                  <br>
                  <label for="r_hausnummer">Hausnummer</label>
                  <input nbInput fullWidth name="r_hausnummer" type="text" class="form-control" formControlName="r_hausnummer" placeholder="Hausnummer">
                  <br>
                  <label for="r_zusatz">Addresszusatz</label>
                  <input nbInput fullWidth name="r_zusatz" type="text" class="form-control" formControlName="r_adresszusatz" placeholder="Addresszusatz">
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div style="width: 100%">
            <nb-checkbox style="float: left" (change)="checkboxChange($event)" status="basic">abweichende Rechnungsaddresse</nb-checkbox>
            <button nbStepperNext style="float: right" class="btn btn-success" (click)="onFirstSubmit()" [disabled]="!firstForm.valid">Weiter</button>
          </div>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Zahlungsmittel">
        <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
          <nb-card>
            <nb-card-header>Ausgewählt: {{ zahlungsOption }}</nb-card-header>
            <nb-card-body>
              <div class="input-group">
                <nb-radio-group [(ngModel)]="zahlungsOption" formControlName="zahlungsOptionen">
                  <nb-radio
                    *ngFor="let zahlungsOption of zahlungsOptionen"
                    [disabled]="zahlungsOption.disabled"
                    [value]="zahlungsOption.value">
                    {{ zahlungsOption.label }}
                  </nb-radio>
                </nb-radio-group>
              </div>
            </nb-card-body>
          </nb-card>
          <div style="width: 100%">
            <button nbStepperPrevious nbButton outline status="warning" >Zurück</button>
            <button nbStepperNext style="float: right" class="btn btn-success" (click)="onSecondSubmit()" [disabled]="!secondForm.valid">Weiter</button>
          </div>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Bestätigung">
          <div>
          <div id="invoice">
            <h1>Verpackungszubehör.de</h1>
              <br>
              <p>
                Rechnungsadresse: <br>
                <br>
                <div *ngIf="seperateRechnung">
                  {{ user.name }} {{ user.surname }}<br>
                  {{ r_strasse }} {{ r_hausnummer }}<br>
                  {{ r_adresszusatz }}
                  {{ r_plz }} {{ r_ort }}
                </div>
                <div *ngIf="!seperateRechnung">
                  {{ user.name }} {{ user.surname }}<br>
                  {{ strasse }} {{ hausnummer }}<br>
                  {{ adresszusatz }}
                  {{ plz }} {{ ort }}
                </div>
              <br><br>
              <p *ngIf="lastStep">
                  Hallo {{ user.name }} {{ user.surname }},<br>
                  nachfolgend die Rechnung für deine Bestellung bei Verpackungszubehör.de.<br>
                  Bestellnummer: {{ order._id }}
              </p>
              <br>
              Produkte:
              <table>
                  <tr>
                      <th>Name</th>
                      <th>Menge</th>
                      <th>Stückpreis</th>
                      <th>Summe</th>
                  </tr>
                  <tr *ngFor="let item of cart.items; let i = index">
                      <td>{{ item.name }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.priceItem }} €</td>
                      <td>{{ item.priceTotal }} €</td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td>Total:</td>
                      <td>{{ cart.subTotal }} €</td>
                  </tr>
              </table>
              <br>
              <p>
                Lieferadresse: <br>
                <br>
                {{ user.name }} {{ user.surname }}<br>
                {{ strasse }} {{ hausnummer }}<br>
                {{ adresszusatz }}
                {{ plz }} {{ ort }}
              </p>
              <br>
              <p>
                  Zahlung innerhalb 14 Tagen an: <br>
                  <br>
                  Bela & Flo von Verpackungszubehör.de<br>
                  IBAN: DE12 3456 7890 9876 54<br>
                  BIC: GENODEF1WZK
              </p>
            </div>
            </div>
          <button nbStepperNext style="float: right" class="btn btn-success" (click)="onThirdSubmit()">Bestätigen</button>
      </nb-step>
      <nb-step [stepControl]="thirdForm" [hidden]="true" label="Bestätigung">
        <div class="step-container">
          <h3>Deine Lieferung ist unterwegs!</h3>
          <p>Ein Beleg wurde an die hinterlegte E-Mail ausgestellt</p>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
