<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="Addresse">
        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container" style="display: flex; flex-direction: column;">
          <div style="width: 100%">
            <nb-card style="float: left; width: fit-content; width: 50%">
              <nb-card-header>Lieferaddresse</nb-card-header>
              <nb-card-body style="width: 100%">
                <div class="form-group">
                  <label for="land">Land</label>
                  <input nbInput fullWidth name="land" [value]="land" [disabled]="true" type="text" class="form-control" placeholder="Land">
                  <br>
                  <label for="plz">PLZ</label>
                  <input nbInput fullWidth name="plz" type="number" class="form-control" formControlName="plzCtrl" placeholder="13127">
                  <br>
                  <label for="ort">Ort</label>
                  <input nbInput fullWidth name="ort" type="text" class="form-control" formControlName="ortCtrl" placeholder="Ort">
                  <br>
                  <label for="strasse">Strasse</label>
                  <input nbInput fullWidth name="strasse" type="text" class="form-control" formControlName="strasseCtrl" placeholder="Strasse">
                  <br>
                  <label for="hausnummer">Hausnummer</label>
                  <input nbInput fullWidth name="hausnummer" type="text" class="form-control" formControlName="hausnummerCtrl" placeholder="Hausnummer">
                  <br>
                  <label for="zusatz">Addresszusatz</label>
                  <input nbInput fullWidth name="zusatz" type="text" class="form-control" formControlName="zusatzCtrl" placeholder="Addresszusatz">
                </div>
              </nb-card-body>

            </nb-card>
            <nb-card *ngIf="seperateRechnung" style="width: fit-content; width: 50%">
              <nb-card-header>Rechnungsaddresse</nb-card-header>
              <nb-card-body>
                <div class="form-group">
                  <label for="r_land">Land</label>
                  <input nbInput fullWidth name="r_land" [value]="land" [disabled]="true" type="text" class="form-control" placeholder="Land">
                  <br>
                  <label for="r_plz">PLZ</label>
                  <input nbInput fullWidth name="r_plz" type="number" class="form-control" formControlName="r_plzCtrl" placeholder="13127">
                  <br>
                  <label for="r_ort">Ort</label>
                  <input nbInput fullWidth name="r_ort" type="text" class="form-control" formControlName="r_ortCtrl" placeholder="Ort">
                  <br>
                  <label for="r_strasse">Strasse</label>
                  <input nbInput fullWidth name="r_strasse" type="text" class="form-control" formControlName="r_strasseCtrl" placeholder="Strasse">
                  <br>
                  <label for="r_hausnummer">Hausnummer</label>
                  <input nbInput fullWidth name="r_hausnummer" type="text" class="form-control" formControlName="r_hausnummerCtrl" placeholder="Hausnummer">
                  <br>
                  <label for="r_zusatz">Addresszusatz</label>
                  <input nbInput fullWidth name="r_zusatz" type="text" class="form-control" formControlName="r_zusatzCtrl" placeholder="Addresszusatz">
                </div>
              </nb-card-body>
            </nb-card>
          </div>
          <div style="width: 100%">
            <nb-checkbox style="float: left" (change)="checkboxChange($event)" status="basic">abweichende Rechnungsaddresse</nb-checkbox>
            <button nbStepperNext style="float: right" class="btn btn-success" [disabled]="!firstForm.valid">Weiter</button>
          </div>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Zahlungsmittel">
        <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
          <nb-card>
            <nb-card-header>Ausgewählt: {{ zahlungsOption }}</nb-card-header>
            <nb-card-body>
              <div class="input-group">
                <nb-radio-group [(ngModel)]="zahlungsOption" formControlName="zahlungsOptionenCtrl">
                  <nb-radio
                    *ngFor="let zahlungsOption of zahlungsOptionen"
                    [disabled]="zahlungsOption.disabled"
                    [value]="zahlungsOption.value">
                    {{ zahlungsOption.label }}
                  </nb-radio>
                </nb-radio-group>
                  <!-- <input nbInput type="text" placeholder="Enter favorite movie" class="form-control" formControlName="secondCtrl"
                       [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}"> -->
              </div>
            </nb-card-body>
          </nb-card>
          <div style="width: 100%">
            <button nbStepperPrevious nbButton outline status="warning" >Zurück</button>
            <button nbStepperNext style="float: right" class="btn btn-success" [disabled]="!secondForm.valid">Weiter</button>
          </div>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="Bestätigung">
        <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
          <p class="lorem">
            Things boom shackalack rhoncus yo. In fo shizzle my nizzle gangsta platea dictumst. Check it out pot.
          </p>
          <div class="input-group">
            <input nbInput type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                   [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
          </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>Confirm</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
