<form (ngSubmit)="saveAddress(form)" #form="ngForm" aria-labelledby="title">

  <nb-card style="width: 100%">
    <nb-card-body>
      <label>Land</label>
      <br><input nbInput type="text" [(ngModel)]="land" placeholder="Land" disabled="true" [required]="true" name="land"  style="width: 100%">
      <br><br><label>PLZ</label>
      <br><input nbInput type="text" [(ngModel)]="plz" placeholder="PLZ" [required]="true" name="plz" style="width: 100%">
      <br><br><label>Ort</label>
      <br><input nbInput type="text" [(ngModel)]="ort" placeholder="Ort" [required]="true" name="ort" style="width: 100%">
    </nb-card-body>

    <nb-card-body>
      <label>Strasse</label>
      <br><input nbInput type="text" [(ngModel)]="strasse" placeholder="Strasse" [required]="true" name="strasse" style="width: 100%">
      <br><br><label>Hausnummer</label>
      <br><input nbInput type="text" [(ngModel)]="hausnummer" placeholder="Hausnummer" [required]="true" name="hausnummer" style="width: 100%">
      <br><br><label>Adresszusatz</label>
      <br><input nbInput type="text" [(ngModel)]="adresszusatz" placeholder="Adresszusatz" [required]="false" name="adresszusatz" style="width: 100%">
    </nb-card-body>

  </nb-card>

  <button nbButton status="primary" [disabled]="!form.valid">Weiter</button>


</form>
