<nb-layout-header fixed>
    <hr>
    <h2 routerLink="/content">Bester Webshop EU West</h2>
    <hr>
    <a *ngIf="isAdmin"
      nbButton
      outline
      status="success"
      routerLink="/admin"
      > Admin Seite
    <nb-icon icon="award-outline"></nb-icon>
    </a>

    <hr>
    <nb-user
      [name]="user_name"
      [title]="user_description"
      [picture]="user_avatar"
      [nbContextMenu]="items"
      nbContextMenuTag="user-context-menu"
      nbContextMenuTrigger="hover"></nb-user>
      <li class="nav-item">
        <a routerLink="/cart" class="nav-link">Cart </a>
      </li>
</nb-layout-header>
