<nb-layout-header fixed>
  <hr>
  <h2 nbButton routerLink="/content">Gummibärenstube</h2>
  <hr>
  <div>
    <a *ngIf="isAdmin"
    nbButton
    style="float:left; margin-right: 25px"
    outline
    status="success"
    routerLink="/admin"
    > Admin Seite
  <nb-icon icon="award-outline"></nb-icon>
  </a>
    <nb-user
    style="float:left"
    [name]="user_name"
    [title]="user_description"
    [picture]="user_avatar"
    [nbContextMenu]="items"
    nbContextMenuTag="user-context-menu"
    nbContextMenuTrigger="hover"></nb-user>
    <li style="float:right" class="nav-item">
      <a routerLink="/cart" class="nav-link"><nb-icon icon="shopping-cart-outline"></nb-icon></a>
    </li>
  </div>
</nb-layout-header>
